<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Product Details</h1>
<table border="2">
    <tr>
        <th>Product Name</th>
        <th>Product ID</th>
        <th>Product Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productPrice}"></td>
    </tr>
</table>
</body>
</html>
